@import 'src/assets/styles/variables.scss';

.h3 {
    color: $grey1;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    width: 100%;
}

.h4 {
    color: $grey1;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    width: 100%;
}

.h5 {
    color: $grey2;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    width: 100%;
}

.p {
    color: $grey2;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    width: 100%;
}

.p.italic {
    font-style: italic;
}