@import 'src/assets/styles/variables.scss';

.input {
    background-color: $white;
    border: 2px solid $grey4;
    box-sizing: border-box;
    border-radius: 5px;
    color: $grey2;
    font-weight: 500;
    font-size: 18px;
    height: 56px;
    padding: 16px;

    &::placeholder {
        color: $grey4;
        opacity: 1;
      }
}