@import 'src/assets/styles/variables.scss';

.list_container {
    display: grid; 
    grid-column: span 1/-1;
    grid-template-columns: repeat(auto-fit, 65px);
    grid-template-rows: 464px; 
    grid-row: 3;
    gap: 0px 30px; 
    row-gap: 28px;
    
    @media (min-width: 1230px) {
        grid-template-columns: repeat(12, 65px);
    }
    .card_list_item {
        grid-column: span 4;
    }

    .no_result {
        margin-top: 64px;
        grid-column: span 4;
    }
}
