@import 'src/assets/styles/variables.scss';

.list_container {
    display: grid; 
    // grid-template-columns: 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px;
    grid-template-columns: minmax(100px, 1fr) 3fr;
    grid-template-rows: 464px; 
    gap: 0px 30px; 
    grid-template-areas: 
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."; 
    row-gap: 28px;
    width: 1110px; 

    .card_list_item {
        grid-column: span 4;
    }

    .no_result {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
