@import 'src/assets/styles/variables.scss';

.container {
    background: $white;
    border: 2px solid $grey4;
    border-radius: 5px;
    box-sizing: border-box;
    height: 460px;
    position: relative;
    width: 100%;

    .image_container {
        height: 230px;
        width: auto;
    
        img {
            border-radius: 5px 5px 0 0;
        }
    }

    .content {
        padding: 24px;
        box-sizing: border-box;

        .title {
            margin-bottom: 6px;

            h5 {
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        .description {
            margin-bottom: 24px;
        }
    }
    .button_container {
        bottom: 24px;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 24px;
    }
}
