@import './assets/styles/reset.scss';
@import './assets/styles/index.scss';
@import './assets/styles/variables.scss';

.layout {
  padding: 50px 20px;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(69px, 1fr));
  grid-template-rows: auto auto auto auto; 
  gap: 0px 20px;
}
.header {
  grid-row: 1;
  grid-column: span 1/-1;
  margin-bottom: 36px;

  @media (min-width: 1230px) {
    grid-column: span 12;
  }
}

.search_container {
  grid-row: 2;
  grid-column: span 1/-1;
  margin-bottom: 66px;
  @media (min-width: 1230px) {
    grid-column: span 6;
  }
}

.result_container {
  grid-row: 3;
  grid-column: span 1/-1;
  @media (min-width: 1230px) {
    grid-column: span 12;
  }
}

.load_more_container {
  display: grid;
  grid-row: 4;
  grid-column: span 1/-1;
  justify-content: center;
  @media (min-width: 1230px) {
    grid-column: span 12;
  }
}