@import 'src/assets/styles/variables.scss';

a.arrowed_button {
    justify-content: space-between;

    svg {
        fill: $white;
    }
    &:hover, &:focus, &:active {
        svg {
            fill: $grey1;
        }
    }
}